.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 20px;
  }
  
  .error {
    color: red;
    text-align: center;
    font-size: 18px;
  }
  